rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only authenticated users can read/write all data.
    function isSignedIn() {
      return request.auth != null;
    }

    match /businesses/{id} {
      allow read, write: if isSignedIn();
    }

    match /logs/{id} {
      allow read, write: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
